span.provisional
{
    color: yellow;
}

span.confirmed
{
    color: green;
}

span.expired
{
    color: red;
}


span.error
{
    color: red;
    font-weight: bold;
}


div#content {
    position: relative;
    width: 100%;
}

div.sidebar {
    width: 20%;
    float: right;
    height: 100vh;
}
div#main {
    width: 74%;
    float: right;
    padding: 0% 2%;
}

div.sidebar ul {
    list-style: none;
}

table.formfields input[type=text] {
    /*width: 20em;*/
}
table.formfields input[type=password] {
    /*width: 20em;*/
}

table.formfields input[type=tel] {
    /*width: 20em;*/
}


table.formfields th,td {
    text-align: left;
}

.small {
    font-size: 0.8em;
}


/*Css Written by me*/
body{
    font-family: sans-serif;
    margin:0;
}

.sidebar {
  overflow: hidden;
  background-color: #026259;
}

.sidebar a {
  /*float: left;*/
  display: block;
  color: #f2f2f2;
  /*text-align: center;*/
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 1px solid #6a6b6a;
}

.sidebar span.instead_of_link {
  /*float: left;*/
  display: block;
  color: #e2e2e2;
  /*text-align: center;*/
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  #border-bottom: 1px solid #6a6b6a;
}

.sidebar a:hover {
  background-color: #02433d;
  color: white;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar .icon {
  display: none;
}

input[type="text"],input[type="number"],input[type="password"],input[type="tel"]{
    padding: 7px;
    height: 18px;
    border-radius: 4px;
    border: 1px solid #b3b1b1;
    min-width: 266px;
}
input[type="text"]:focus,input[type="number"]:focus,input[type="password"]:focus,input[type="tel"]:focus,select:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
select {
    padding: 5px;
    height: 34px;
    border-radius: 4px;
    border: 1px solid #b3b1b1;
    min-width: 282px;
}
input[type="submit"] {
    padding: 10px 30px;
    background: #009688;
    color: white;
    font-weight: bold;
    border: 1px solid #009688;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .sidebar a {display: none;}
  .sidebar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .sidebar.responsive {position: relative;}
  .sidebar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .sidebar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .side.responsive span.instead_of_link {
    float: none;
    display: block;
    text-align: left;
  }
  div.sidebar {
        width: 100%;
        float: none;
        height: auto;
    }
    div#main {
        width: 100%;
        float: none;
    }
    input[type="text"], input[type="number"], input[type="password"], input[type="tel"] {
        padding: 7px;
        height: 18px;
        border-radius: 4px;
        border: 1px solid #b3b1b1;
        min-width: auto;
        width: 85%;
    }
    select{
        min-width: auto;
        width: 91%;
    }

}
