span.provisional
{
    color: yellow;
}

span.confirmed
{
    color: green;
}

span.expired
{
    color: red;
}


span.error
{
    color: red;
    font-weight: bold;
}


div#content {
    position: relative;
    width: 100%;
}

div#sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 240px;
}
div#main {
    position: relative;
    margin-left: 250px;
}

div#sidebar ul {
    list-style: none;
}

table.formfields td input {
    width: 20em;
}

table.formfields th,td {
    text-align: left;
}