span.provisional
{
    color: yellow;
}

span.confirmed
{
    color: green;
}

span.expired
{
    color: red;
}


span.error
{
    color: red;
    font-weight: bold;
}

div.sidebar {
    float: left;
    width: 230px;
    margin-left: -100%;
    font-size: 90%;
}

div.sidebar ul {
    list-style: none;
}