<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/style.css" />
    <title>ATHEN Main Server: {% block title %}{% endblock %}</title>
</head>
  <body>
    <div id="content">
    <div id="sidebar">
      <ul>
	<li /><a href="/config/index">Home</a>
	<li /><a href="/config/rationale.html">Rationale</a>
	{% if 'username' in session %}
	<li />Logged in as {{ session.username }}
	<li /><a href="/config/logout">Logout</a>
	<li /><a href="/config/acct/edit">Edit Details</a>
	<li /><a href="/config/user/list">List Users</a>
	{% else %}
	<li /><a href="/config/login">Login</a>
	{% endif %}
	<li /><a href="/config/confirm">Confirm registration</a>
	<li /><a href="/config/acct/new?type=O">New Organisation</a>
	<li /><a href="/config/acct/new?type=P">New Individual</a>
      </ul>
    </div>
    <div id="main">
      <h2>ATHEN Main Server: {{ self.title() }}</h2>
      <p>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class="flash">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
      </p>
      <div id="content">{% block body %}{% endblock %}</div>
    </div></div>
{% if fragment is defined and fragment %}
{% else %}
  </body>
</html>
{% endif %}
