{% extends "base.html" %}
{% block title %}New Organisation: Completed{% endblock %}
{% block body %}
<p>Your new organisation has been successfuly created.</p>
<p>Over the next few days a paper confirmation letter will
be sent via Australia Post to the address you nominated.
</p>
<p>It will be addressed the ``Practice Manager'' (for GPs)
or to ``Director of IT Services'' (everybody else)
</p>
<p>This will contain a confirmation code that needs ot be entered
on this website to confirm your account as validated.<p>

{% endblock %}
