{% extends "base.html" %}
{% block title %}
{% if mode == "new" %}
Create New Organisation
{% else %}
Edit Organisation: {{ data.cn }}
{% endif %}
{% endblock %}
{% block body %}
{% if mode == "new" %}
<form action="/config/acct/save" method="post" enctype="application/x-www-form-urlencoded">
{% else %}
<form action="/config/acct/update" method="post" enctype="application/x-www-form-urlencoded">
  {% endif %}
<input type="hidden" name="type" value="O" />
  <p>
    <table class="formfields">
      <tr>
	<th>Organisation Name</th>
	<td>
	  {% if mode == "new" %}
	  <input type="text" name="o" length="20" value="{{ data.o }}" />
	  {% else %}
	  {{ data.o }}
	  {% endif %}
	</td>
      </tr>
      <tr>
	<th>Street</th>
	<td><input type="text" length="20" value="{{ data.street }}" name="street" /></td>
      </tr>
      <tr>
	<th>Town</th>
	<td><input type="text" length="20" value="{{ data.l }}" name="l" /></td>
      </tr>
      <tr>
	<th>Postcode</th>
	<td><input type="number" length="4" min="0" max="9999" value="{{ data.postalCode }}" name="postalCode" /></td>
      </tr>
      <tr>
	<th>State/Territory</th>
	<td>
	  <select name="st">
	    {{ html_select(['ACT','WA','TAS','VIC','NT','SA','QLD','Norfolk Is','NSW'],data['st'])|safe}}
	    </select>
      <tr>
	<th>Telephone</th>
	<td><input type="tel" length="20" value="{{ data.telephoneNumber }}" name="telephoneNumber" /></td>
      </tr>
      <tr>
	<th>Fax</th>
	<td><input type="tel" length="20" value="{{ data.facsimileTelephoneNumber }}" name="facsimileTelephoneNumber" /></td>
      </tr>
      <tr>
	<th>Type</th>
	<td>
	  <select name="businessCategory">
	    {{ html_select(['General Practice','Specialist Rooms','Hospital','Law firm','Police','Disability NGO','Child Protection','Allied Health','Community Health','headspace centre'],data.get('businessCategory',None))|safe}}
	    </select>
	</td>
      </tr>
      {% if mode == "edit" %}
      <tr>
	<th>Status</th>
	<td>
	  <label for="status_closed"><input type="checkbox" name="status_closed" value="yes" id="status_closed">Mark as closed</label>
	</td>
      </tr>
      {% else %}
      <tr>
	<th>Password</th>
	<td><input type="password" length="20" value="{{ userPassword }}" name="userPassword" /></td>
	<td><a class="smalllink" href="/config/rationale.html#password">WARNING</a></td>
      </tr>
      <tr>
	<th>Password (repeat)</th>
	<td><input type="password" length="20" value="{{ userPassword_repeat }}" name="userPassword_repeat" /></td>
      </tr>
      {% endif %}
	  <tr>
	    <th>Delivery Format</th>
	    <td>{{ html_select(['
      <tr>
	<td></td>
	<td><input type="submit" name="Submit" /></td>
      </tr>
    </table>
  </p>
</form>
{% endblock %}
    
