{% extends "base.html" %}
{% block title %}
{% if mode == "new" %}
Create New Organisation
{% else %}
Edit Organisation
{% endif %}
{% endblock %}
{% block body %}
{% if mode == "new" %}
<form action="/org/save" method="post" enctype="application/x-www-form-urlencoded">
{% else %}
<form action="/org/update" method="post" enctype="application/x-www-form-urlencoded">
  {% endif %}

  <p>
    {% if error != "" %}
    <span class="error">{{ error }}</span></p><p>
    {% endif %}
    <table class="formfields">
      <tr>
	<th>Name</th>
	<td>
	  {% if mode == "new" %}
	  <input type="text" name="o" length="20" value="{{ data.o }}" />
	  {% else %}
	  {{ o }}
	  {% endif %}
	</td>
      </tr>
      <tr>
	<th>Street</th>
	<td><input type="text" length="20" value="{{ data.street }}" name="street" /></td>
      </tr>
      <tr>
	<th>Town</th>
	<td><input type="text" length="20" value="{{ data.l }}" name="l" /></td>
      </tr>
      <tr>
	<th>Postcode</th>
	<td><input type="text" length="10" value="{{ data.postalCode }}" name="postalCode" /></td>
      </tr>
      <tr>
	<th>State/Territory</th>
	<td>
	  <select name="st">
	    {{ html_select(['ACT','WA','TAS','VIC','NT','SA','QLD','Norfolk Is','NSW'],data['st'])|safe}}
	    </select>
      <tr>
	<th>Telephone</th>
	<td><input type="text" length="20" value="{{ data.telephoneNumber }}" name="telephoneNumber" /></td>
      </tr>
      <tr>
	<th>Fax</th>
	<td><input type="text" length="20" value="{{ data.facsimileTelephoneNumber }}" name="facsimileTelephoneNumber" /></td>
      </tr>
      <tr>
	<th>Type</th>
	<td>
	  <select name="businessCategory">
	    {{ html_select(['General Practice','Specialist Rooms','Hospital','Law firm','Police','Disability NGO','Child Protection','Allied Health'],data['businessCategory'])|safe}}
	    </select>
	</td>
      </tr>
      <tr>
	<th>Password</th>
	<td><input type="password" length="20" value="{{ userPassword }}" name="userPassword" /></td>
      </tr>
      <tr>
	<th>Password (repeat)</th>
	<td><input type="password" length="20" value="{{ userPassword_repeat }}" name="userPassword_repeat" /></td>
      </tr>
      {% if mode == "edit" %}
      <tr>
	<th>Status</th>
	<td><label for="status_closed"><input type="check" name="status_closed" value="yes" id="status_closed" />Mark as closed</label></td>
      </tr>
      {% endif %}
      <tr>
	<td></td>
	<td><input type="submit" name="Submit" /></td>
      </tr>
    </table>
  </p>
</form>
{% endblock %}
    
