{% extends "base.html" %}
{% block title %}{{ acct.cn }}{% endblock %}
{% block body %}
<p>
<table>
  <tr>
    <th>Type</th>
    <td>
      {% if org %}
      Organisation
      {% else %}
      Person
      {% endif %}
  </td></tr>
  <tr>
    <th>Name</th>
    <td>{{ acct.cn }}</td>
  </tr>
  <tr>
    <th>Street</th>
    <td>{{ acct.street }}</td>
  </tr>
  <tr>
    <th>Town</th>
    <td>{{ acct.l }} {{acct.postalCode }} {{ acct.st }}</td>
  </tr>
  <tr>
    <th>Telephone</th>
    <td>{{ acct.telephoneNumber }}</td>
  </tr>
  <tr>
    <th>Fax</th>
    <td>{{ acct.facsimileTelephoneNumber }}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>{{ acct.displayEmail }}</td>
  </tr>
  <tr>
    <th>Status</th>
    <td>
      {% if acct['status'] == 'P' %}
      <span class="provisional" title="The account is registered but identity not confirmed">PROVISIONAL</span>
      {% elif acct['status'] == 'C' %}
      <span class="confirmed" title="The account is registered and identity confirmed">CONFIRMED</span>
      {% elif acct['status'] == 'X' %}
      <span class="expired" title="The account has requested its entry be closed">CLOSED</span>
      {% else %}
      Unknown status: {{ acct.status }}
      {% endif %}
    </td>
  </tr>
</table>
</p>

{% if users %}
<p><table>
    <tr><th>Name</th><th>Surname</th><th>Profession</th></tr>
    {% for u in users %}
    <tr>
      <td>{{ u.givenName }}</td>
      <td>{{ u.sn }}</td>
      <td>{{ u.medicalSpecialty }}</td>
    </tr>
    {% endfor %}
  </table>
</p>
{% endif %}

{% endblock %}
